configure
Makefile
Makefile.in
autom4te.cache/
m4/
aclocal.m4
ar-lib
config.guess
config.*
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
*/.deps/
*/.libs/
*.o
*.la
*.lai
*.lo
*.Plo
*.dylib
*.so
*.tar.gz
example/example
*/Debug/
*.sdf
*.filters
